<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${messages.get(0).getText()}">
    </title>
<body>
    <thead th:text="${messages.get(0).getText()}"></thead>
    <form th:method="post" enctype="multipart/form-data">
        <input type="text" name="text">
        <input type="file" name="imageFile" onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])">
        <button type="reset" onchange="document.getElementById('preview').src = null">Отменить</button>
        <button type="submit" name="Post">Отправить сообщение</button><br>
        <img id="preview" alt="Выберите изображение" width="100" height="100" />
    </form>

    <tbody>
        <th:block th:each="message : ${messages}">
            <tr>
                <td><span th:text="${message.getCurrentId()}"></span></td>
                <span th:if="${message.getImage() != null}">
                    <img th:src="@{'data:image/jpeg;base64,'+${message.getBase64String()}}" style="width:100px;height:100px;">
                </span>
                <td><span th:text="${message.getText()}"></span></td>
            </tr><br>
        </th:block>
    </tbody>
    </body>
</html>